<header>
	<nav class="main-nav">
		<ul class="nav__list">
			<li class="nav__list-item"><a href="#firstpart_homepage" class="nav__link">Home</a></li>
			<li class="nav__list-item"><a href="#secondpart_homepage" class="nav__link">Top Rated Items</a></li>
			<li class="nav__list-item"><a href="#thirdpart_homepage" class="nav__link">About Us</a></li>
		</ul>
	</nav>
	<nav class="account">
		<ul class="nav__list">
			<li class="nav__list-item">
				<a onclick="document.getElementById('myModal').style.display='inline'" class="nav__link nav__link--btn myBtn" id = "myBtn">Login</a>
				<div id="myModal" class="modal">
					<div id = "login" class="modal-content animated bounceInDown">
						<span class="close">&times;</span>
						<p class = "modal_title"><font size = "5">LOGIN</font></p><br><br>
						<form align = "center" id = "login" method = "post">
							<label for="username">Username:</label>
							<input type="text" id="username" name="username" ><br><br>
							<label for="password">Password:</label>
							<input type="password" id="password" name="password"><br><br><br>
							<input class="nav__link nav__link--btn" type="submit" id="login" value="Login">
						</form> 
						<p id="error"></p>
					</div>
				</div>
			</li>
			<li class="nav__list-item">
				<a onclick="document.getElementById('id02').style.display='inline'" class="nav__link nav__link--btn nav__link--btn--highlight">Register</a>
				<div id="id02" class="modal">
					<div id="register" class="modal-content animated bounceInDown">
						<span class="close" onclick="document.getElementById('id02').style.display='none'">&times;</span>
						<p class = "modal_title"><font size = "5">REGISTER</font></p>
						
						<form align="center" id="signup" method="post">
							<div class="avatar-upload">
								<div class="avatar-edit">
									<input type='file' id="imageUpload" name ="photo" accept=".png, .jpg, .jpeg" />
									<label for="imageUpload"></label>
								</div>
								<div class="avatar-preview">
									<div id="imagePreview" style="background-image: url(img/dpic.jpg);">
									</div>
								</div>
							</div>
							<input type="text" id="fName" name="fName" placeholder = "First Name" required><br><br>
							<input type="text" id="lName" name="lName" placeholder = "Last Name" required><br><br>
							<input type="text" id="username" name="username" placeholder = "Username" required><br><br>
							<input type="password" id="pw" name="pw" placeholder = "Password" required><br><br>
							<input type="password" id="cpw" name="cpw" placeholder = "Confirm Password:" required><br><br>
							<p>Short description about you</p><br>
							<textarea type="text" id="bio" name="bio" rows="3" cols="35"></textarea><br><br>
							<input class="nav__link nav__link--btn" type="submit" id="register" value="Register">
						</form> 
						<p id="error"></p>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</header>