<!-- HOME LAYOUT: in views/layouts/home.hbs -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="authors" content="EW LOPEZ, G OLAN">
    <meta name="description" content="home">

    <title>Marketplace</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <! –– for the navigation bar ––>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- importing personal styles -->
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/animation.css" />
    <link rel="stylesheet" href="css/complete.css" />

    <script src="/js/complete.js" type="text/javascript"></script>
    <script src="/js/signup.js" type="text/javascript"></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>

  </head>

  <body>

    {{> headerhome}}


    {{{ body }}}
    
    {{#if fail}}
        <script type="text/javascript">
            var M = document.getElementById("myModal");
            M.style.display="inline";
        </script>
    {{/if}}
    
  </body>
</html>
