<!-- MAIN LAYOUT: in views/layouts/main.hbs -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Marketplace</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- importing personal styles -->
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
    {{> header}} <!-- This is a partial, we use > right after the opening mustache to denote it's a partial -->

    <div class="container">
      {{{ body }}} <!-- THIS IS REQUIRED, body is a keyword. Notice it's 3 mustaches, not just 2. To escape HTML tags -->
    </div>

    {{> footer}}  <!-- This is a partial, we use > right after the opening mustache to denote it's a partial -->
    <script src="js/complete.js"></script>  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
  </body>
</html>
