<!-- MAIN LAYOUT: in views/layouts/main.hbs -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Marketplace</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <!-- importing personal styles -->
    <link rel="stylesheet" href="/css/complete.css">
    <link rel="stylesheet" href="/css/animation.css">

  </head>

  <body>

    {{> header}}

    {{{ body }}}
    
    <script src="/js/complete.js" type="text/javascript"></script>
    <script src="/js/signup.js" type="text/javascript"></script>
    <script src="/js/postItem.js" type="text/javascript"></script>
    <script src="/js/editProfile.js" type="text/javascript"></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <script src="/js/Navigation_bar.js" type="text/javascript"></script>  
    <script src="/js/observers.js" type="text/javascript"></script>  
    <script src="/js/Reviews.js" type="text/javascript"></script>  
    <script src="/js/script.js" type="text/javascript"></script>    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
  </body>
</html>
