<section class="main-1 animated bounceInDown">
			<p><font color = "white">Search results for:<b>"<span class="searching"></span>"</b></font></p>
			<br>
				<div class="posts-1" style="height: 296px;">
					<a href="item_switch_olan.html">
						<div class="card" align="left">
							<image src="items_samples/20200228_223406.jpg" height="192px" width="192px"><br>
							<p class="item_description">Nintendo Switch</p>
							<p class="item_description">₱ 15,000</p>
						</div>
					</a>
					<a href="item_x11_olan.html">
			  			<div class="card" align="left">
							<image src="items_samples/20200228_223416.jpg" height="192px" width="192px"><br>
							<p class="item_description">iPhone 11</p>
							<p class="item_description">₱ 47,000</p>
						</div>
					</a>
					<a href="item_ferrari_olan.html">
			  			<div class="card" align="left">
							<image src="items_samples/20200228_224121.jpg" height="192px" width="192px"><br>
							<p class="item_description">Ferrari</p>
							<p class="item_description">₱ 50,000,000</p>
						</div>
					</a>
					<a href="item_pot_olan.html">
			  			<div class="card" align="left">
							<image src="items_samples/20200228_224132.jpg" height="192px" width="192px"><br>
							<p class="item_description">Stainless Pot</p>
							<p class="item_description">₱ 1,000</p>
						</div>
					</a>
					<a href="item_stove_olan.html">
			 			<div class="card" align="left">
							<image src="items_samples/20200228_224152.jpg" height="192px" width="192px"><br>
							<p class="item_description">Stove</p>
							<p class="item_description">₱ 2,000</p>
						</div>
					</a>
					<a href="item_toys_olan.html">
			  			<div class="card" align="left">
							<image src="items_samples/20200228_224205.jpg" height="192px" width="192px"><br>
							<p class="item_description">Assorted Toys</p>
							<p class="item_description">₱ 500</p>
						</div>
					</a>
					<a href="item_DualShock_olan.html">
			  			<div class="card" align="left">
							<image src="items_samples/20200228_224216.jpg" height="192px" width="192px"><br>
							<p class="item_description">DualShock 4</p>
							<p class="item_description">₱ 3,000</p>
						</div>
					</a>
					<a href="item_drone_earth.html">
						<div class="card" align="left">
							<image src="items_samples/87881231_2653642001428328_7594720382377000960_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Drone</p>
							<p class="item_description">₱ 15,000</p>
						</div>
					</a>
					<a href="item_galaxy_earth.html">
			  			<div class="card" align="left">
							<image src="items_samples/87954002_606624916846066_8755808934800916480_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Galaxy Z Flip</p>
							<p class="item_description">₱ 50,000</p>
						</div>
					</a>
					<a href="item_macbook_earth.html">
			  			<div class="card" align="left">
							<image src="items_samples/87983765_210112840362354_6057522158022688768_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">MacBook Pro 2017</p>
							<p class="item_description">₱ 72,000</p>
						</div>
					</a>
					<a href="item_galaxy_earth.html">
			  			<div class="card" align="left">
							<image src="items_samples/88133270_2607972352662328_3626096512687144960_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Gucci Jacket</p>
							<p class="item_description">₱ 50,000,000</p>
						</div>
					</a>
					<a href="item_lover_taylor.html">
			 			<div class="card" align="left">
							<image src="items_samples/88151592_199513367923309_8083406820787355648_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Taylor Swift Lover LP</p>
							<p class="item_description">₱ 1,000</p>
						</div>
					</a>
					<a href="item_basketball_earth.html">
			  			<div class="card" align="left">
							<image src="items_samples/88175361_1076655529362899_1883557456689233920_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Molten Limited Edition Basketball</p>
							<p class="item_description">₱ 100,000</p>
						</div>
					</a>
					<a href="item_straw_greta.html">
			  			<div class="card" align="left">
							<image src="items_samples/88177415_3148238901963136_4131436875766300672_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Metal Straw Set</p>

							<p class="item_description">₱ 150</p>
						</div>
					</a>
					<a href="item_gloves_manny.html">
						<div class="card" align="left">
							<image src="items_samples/88180753_553176461961040_7631318387116736512_n.jpg" height="192px" width="192px"><br>
							<p class="item_description">Boxing Gloves</p>
							<p class="item_description">₱ 1,000</p>
						</div>
					</a>
			</div>
		</section>