<section id = "firstpart_homepage" class = "bg-1">
	<image class="animated bounceInDown" src="img/Marketplace_LOGO2.png" alt="logo" height="323.25" width="500" align="middle" style="margin:100px 0px"></image><br>

 	<label class="search" for="inpt_search">
		<input type="text" style: "width: automatic" id="search" onkeyup="search1()">
	</label>
</section>

<section id = "secondpart_homepage">
	<h2 class="heading"><font color="white">TOP RATED ITEMS</font></h2>
	<div class="scrolling-wrapper">
		{{#each items}}
            <a href="item/{{iName}}"">
	  			<div class="card" align="left">
					<image src="/{{photo}}" height="192px" width="192px"><br>
					<p class="item_description">{{iName}}</p>
					<p class="item_description">₱ {{price}}</p>
				</div>
			</a>
        {{/each}}
	</div>
</section>

<div class = "bg-2">
</div>

<section id = "thirdpart_homepage">
	<font color="#FBB117">
	<div>
		<div class="row">
			<div>
				<h2 class="heading">THE TEAM</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="member">
					<img src="img/earth.jpg" alt=>
					<h4>Earth Lopez</h4>
					<p style="color: black">Member 1</p>
				</div>
			</div>
			<div class="col">
				<div class="member">
					<img src="img/olan.jpg" alt=>
					<h4>Gabriel Olan</h4>
					<p style="color: black">Member 2</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-center">
				<p class="large text-muted">
					We are the creators of this website!
				</p>
			</div>
		</div>
	</div>
	</font>
</section>	