<section id = "firstpart_homepage" class = "bg-1">
	<image class="animated bounceInDown" src="img/Marketplace_LOGO2.png" alt="logo" height="323.25" width="500" align="middle" style="margin:100px 0px"></image><br>

 	<label class="search" for="inpt_search">
		<input id="inpt_search" type="text" style: "width: automatic" id="search" onkeyup="search()"/>
	</label>
</section>

<section id = "secondpart_homepage">
	<h2 class="heading"><font color="white">TOP RATED ITEMS</font></h2>
	<div class="scrolling-wrapper">
			<a href="item_straw_greta.html">
  			<div class="card" align="left">
				<image src="items_samples/88177415_3148238901963136_4131436875766300672_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">Metal Straw Set</p>
				<p class="item_description">₱ 150</p>
			</div>
		</a>
		<a href="item_x11_olan.html">
  			<div class="card" align="left">
				<image src="items_samples/20200228_223416.jpg" height="192px" width="192px"><br>
				<p class="item_description">iPhone 11</p>
				<p class="item_description">₱ 47,000</p>
			</div>
		</a>
		<a href="item_macbook_earth.html">
  			<div class="card" align="left">
				<image src="items_samples/87983765_210112840362354_6057522158022688768_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">MacBook Pro 2017</p>
				<p class="item_description">₱ 72,000</p>
			</div>
		</a>
		<a href="item_gucci_earth.html">
  			<div class="card" align="left">
				<image src="items_samples/88133270_2607972352662328_3626096512687144960_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">Gucci Jacket</p>
				<p class="item_description">₱ 50,000,000</p>
			</div>
		</a>
		<a href="item_lover_taylor.html">
 			<div class="card" align="left">
				<image src="items_samples/88151592_199513367923309_8083406820787355648_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">Taylor Swift Lover LP</p>
				<p class="item_description">₱ 1,000</p>
			</div>
		</a>
		<a href="item_basketball_earth.html">
  			<div class="card" align="left">
				<image src="items_samples/88175361_1076655529362899_1883557456689233920_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">Molten Limited Edition Basketball</p>
				<p class="item_description">₱ 100,000</p>
			</div>
		</a>
		<a href="item_DualShock_olan.html">
  			<div class="card" align="left">
				<image src="items_samples/20200228_224216.jpg" height="192px" width="192px"><br>
				<p class="item_description">DualShock 4</p>
				<p class="item_description">₱ 3,000</p>
			</div>
		</a>
		<a href="item_switch_olan.html">
			<div class="card" align="left">
				<image src="items_samples/20200228_223406.jpg" height="192px" width="192px"><br>
				<p class="item_description">Nintendo Switch</p>
				<p class="item_description">₱ 15,000</p>
			</div>
		</a>
		<a href="item_galaxy_earth.html">
			<div class="card" align="left">
				<image src="items_samples/87954002_606624916846066_8755808934800916480_n.jpg" height="192px" width="192px"><br>
				<p class="item_description">Galaxy Z Flip</p>
				<p class="item_description">₱ 50,000</p>
			</div>
		</a>
		<a href="item_pot_olan.html">
			<div class="card" align="left">
				<image src="items_samples/20200228_224132.jpg" height="192px" width="192px"><br>
				<p class="item_description">Stainless Pot</p>
				<p class="item_description">₱ 1,000</p>
			</div>
		</a>
	</div>
</section>

<div class = "bg-2">
</div>

<section id = "thirdpart_homepage">
	<font color="#FBB117">
	<div>
		<div class="row">
			<div>
				<h2 class="heading">THE TEAM</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="member">
					<img src="img/88106165_195647061530271_6463364797621600256_n.jpg" alt=>
					<h4>Earth Lopez</h4>
					<p style="color: black">Member 1</p>
				</div>
			</div>
			<div class="col">
				<div class="member">
					<img src="img/20200228_234416.jpg" alt=>
					<h4>Gabriel Olan</h4>
					<p style="color: black">Member 2</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-center">
				<p class="large text-muted">
					We are the creators of this website!
				</p>
			</div>
		</div>
	</div>
	</font>
</section>	