<section class="item animated bounceInDown">
		<div>
			<img src="items_samples/88175361_1076655529362899_1883557456689233920_n.jpg" width="100%" height="100%"><br>
			<p class="item_description2"><font size="5px">Molten Limited Edition Basketball
			<p class="item_description2">₱ 100,000</font></p>
		</div>
	</section>
	<section class="description">
		<div class="rightbox">
			<br><b><p class= "title"><font size = "15" color= "white">ITEM DESCRIPTION</font></p></b>
			<p> Posted by <a href="profile2.html">Lopez_earth</a></p>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span></p><br>
			<section class="item_section">
				<font color="white">
				<button id="btncontact" class = "btncontact" onclick="display()">
				    Get Information
				</button>
				<div id="contact" style="display: none">
				    <p><b> Quantity:</b> 1</p>
					<p><b> Meet up location:</b> Manila</p>
					<p><b> Contact information:</b> 09161231231</p>
					<p><b> Mode of payment:</b> Paypal</p><br>
				</div>
				<p>Selling this 2nd hand Basketball. Selling this because I hate basketball.</p>
				</font>
			</section><br><br><br>
			<div class="box1">
				<b><p class= "title"><font size = "15" color= "white">REVIEWS</font></p></b>
				<br>
				<textarea class="review_textbox box" placeholder="Tell us something about this item..." id="review" rows="3" cols="25" maxlength="161"></textarea><br>
				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" ></label>
					<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" ></label>
					<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" ></label>
					<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" ></label>
					<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" ></label>
				</fieldset>
				<button id="submit_button" class = "enter_review">Submit</button>
			</div>
			<ol>
			</ol>
			<br><br><br><br>
		</div>
	</section>
	<script src="js/Navigation_bar.js"></script>
	<script src="js/Reviews.js"></script>
	<script type="text/javascript">
		function display() {
    		var T = document.getElementById("contact");
			if(T.style.display === "none"){
    		T.style.display = "block";  // <-- Set it to block
			} else {
				T.style.display = "none";
			}
		}
	</script>