* {
  list-style:             none;
  text-decoration:        none;
  margin:                 0;
  padding:                0;
  outline: none;
}

html {
  scroll-behavior:        smooth;
}

body {
	font-family:           "Poppins", sans-serif;
	letter-spacing:        2px;
	background:            #FBB117;
}

.header {
  --text: 				       #F2B54A;
  --text-inverse: 		   #333;
  --background: 		     #F2B54A;
  position:              fixed;
  top:                   0;
  left:                  0;
  right:                 0;
  z-index:               999;
  display:               flex;
  justify-content:       space-between;
  align-items:           center;
  padding:               0.2em 3em;
  transition:            background 250ms ease-in;
  background:            white;
  
  box-shadow:            0 3px 20px rgba(0, 0, 0, 0.2);
}

.card {
  flex:                   0 0 auto;
  background-color:       white;
  width:                  192px;
  height:                 255.375px;
  margin:                 10px;
  transition:             transform .2s;
}

.main-1 {
  position:               relative;
  top:                    100px;
  padding-left:           25px;
}

.main-2 {
  position:               relative;
  float:                  right;
  top:                    40px;
  display:                flex;
  left:                   0;
  width:                  77%;
}

.review_textbox{
  padding:               10px;
  border-radius:         5px;
  outline:               none;
  color:                 white;
  background-color:      #F2B54A;
  border:                1.5px solid white;
  letter-spacing:        2px;
  font-size:             15px;
  width:                 275px;
}

/** BROWSE **/
.posts-1 {    
  height:                 50%;
  position:               static;
  display:                flex;
  flex-wrap:              wrap;
}

.card p {
  padding-left:           10px;
}

/** ITEM **/
.posts-2 {    
  height:                 50%;
  position:               static;
  display:                flex;
  flex-wrap:              nowrap;
  overflow-x:             auto;
  padding-right:          150px;
}

.item {
  position:               fixed;
  float:                  left;
  top:                    0% ;
  width:                  38.4%;
  height: 				        97.3%;
  text-align:             left;
  margin-left:            0px;
  background-color:       white; 
  overflow-x:             hidden;
  padding-top: 			      65px;
  box-shadow: 			      10px 4px 10px rgba(0, 0, 0, 0.2);
}

.description {
  position:               fixed;
  float:                  right;
  display:                flex;
  top:                    0%;
  right:                  0;
  width:                  61%;
  height:				          100%;
  background-color:       transparent;
  height: 				        93%;
  padding-top: 			      50px;
  padding-left: 		      10px;
  margin-bottom: 		      50px;
}

.item_description2{
  padding-left:           40px;
  padding-top:            5px;
}

.btncontact {
  height:                 30px;
  width:                  200px;
  margin-bottom:          10px;
  background:             transparent;
  border:                 1.5px solid white;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
  color:                  white;
  cursor:                 pointer;
  transition:             0.2s;
}

.btncontact:hover{
  background:             white;
  border:                 1.5px solid white;
  color:                  black;
}

#contact {
  background-color:       transparent;
  color:                  white;
}

/** PROFILE **/
.profile {
  position:               fixed;
  float:                  left;
  top:                    50px;
  width:                  23%;
  height:                 100%;
  text-align:             center;
  margin-left:            0px;
  background-color:       #F2754A; 
  overflow-x:             hidden;
  padding-top:            20px;
  box-shadow: 			      0px 10px 10px rgba(0, 0, 0, 0.2);
}

.profile img {
  width:                  150px;
  height:                 150px;
  border:                 7px solid white;
  border-radius: 		      150px;
}

.reviews {
  position:               relative;
  float:                  right;
  display:                flex;
  top:                    75px;
  left:                   0;
  width:                  75%;
}

.sell {
  position:               relative;
  float:                  flex;
  top:                    75px;
  left:                   0;
  width:                  75%;
  margin-left: 25%;
}

.reviews2 {
  position:               relative;
  float:                  right;
  display:                flex;
  top:                    40px;
  left:                   0;
  width:                  75%;
  padding-top:            10px;
}

.item_description{
	padding-left:            10px;
}

/*** STYLES ***/
/** HEADER **/
/* width */
::-webkit-scrollbar {
  width:                   10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:              transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:              #F2B54A; 
  border:                  1.5px solid white;
  border-radius:           50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:              white; 
}

::-webkit-scrollbar:vertical {
    display:               none;
}

.title{
  text-shadow:             3px 3px #F2754A;
}

#searchbox2 {
  border-radius:          50px;
  border:                 1.5px solid #F2B54A;
  background-color:       white;
  padding:                20px; 
  width:                  500px;
  height:                 10px; 
  outline:                0 none;
  font-family:            Helvetica;
  font-size:              25px;
  color:                  #F2B54A;
}

::placeholder {
  font-family:            Helvetica;
  font-size:              15px;
  vertical-align:         middle;
}

#logo {
  width:                  50px;
  height:                 35px;
  margin:                 10px;
}

.search {
  position:               relative;
  margin-top:             10px;
  height:                 40px;
  width:                  40px;
  box-sizing:             border-box;
  margin:                 0px 8px 7px 0px;
  padding:                7px 9px 0px 9px;
  border:                 3px solid #FFFFFF;
  border-radius:          25px;
  -webkit-transition:     all 200ms ease;
  transition:             all 200ms ease;
  cursor:                 text;
}

.search:after {
  content:                "";
  position:               absolute;
  width:                  3px;
  height:                 20px;
  right:                  -5px;
  top:                    31px;
  background:             #FFFFFF;
  border-radius:          3px;
  -webkit-transform:      rotate(-45deg);
          transform:      rotate(-45deg);
  -webkit-transition:     all 200ms ease;
  transition:             all 200ms ease;
}
.search.active,
.search:hover {
  width:                  500px;
  margin-right:           0px;
}
.search.active:after,
.search:hover:after {
  height:                 0px;
}
.search input {
  width:                  100%;
  border:                 none;
  box-sizing:             border-box;
  font-family:            Helvetica;
  font-size:              25px;
  color:                  white;
  background:             transparent;
  outline-width:          0px;
}

/* The Modal (background) */
.modal {
  display:                none; /* Hidden by default */
  position:               fixed; /* Stay in place */
  z-index:                1; /* Sit on top */
  padding-top:            50px; /* Location of the box */
  left:                   0;
  top:                    0;
  width:                  100%; /* Full width */
  height:                 100%; /* Full height */
  overflow:               auto; /* Enable scroll if needed */
  background-color:       rgb(0,0,0); /* Fallback color */
  background-color:       rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius:          50px;
  color:                  black;
  background-color:       #fefefe;
  margin:                 auto;
  top:                    15%;
  padding:                20px;
  border:                 1px solid #888;
  width:                  30%;
  box-shadow:             10px 10px;
}

/* The Close Button */
.close {
  color:                  #aaaaaa;
  float:                  right;
  font-size:              28px;
  font-weight:            bold;
}

.close:hover,
.close:focus {
  color:                  #000;
  text-decoration:        none;
  cursor:                 pointer;
}

.close-delete {
  position:               fixed;
  top:                    0;
  right:                  0;
  font-size:              28px;
  color:                  #aaaaaa;
}

.close-delete:hover,
.close-delete: focus {
  color:                  #000;
  text-decoration:        none;
  cursor:                 pointer;
}

.nav__list {
  list-style:             none;
  margin:                 0;
  padding:                0;
  display:                flex;
}

.nav__link {
  --spacing:              1em;
  text-decoration:        none;
  color:                  inherit;
  display:                inline-block;
  padding:                calc(var(--spacing) / 2) var(--spacing);
  position:               relative;
  text-transform:         uppercase;
  letter-spacing:         2px;
  font-size:              0.9rem;
}

.nav__link:after {
  content:                "";
  position:               absolute;
  bottom:                 0;
  left:                   var(--spacing);
  right:                  var(--spacing);
  height:                 2px;
  background:             currentColor;
  -webkit-transform:      scaleX(0);
      transform:          scaleX(0);
  transition:             -webkit-transform 150ms ease-in-out;
  transition:             transform 150ms ease-in-out;
  transition:             transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform:     scaleX(1);
      transform:         scaleX(1);
}

.nav__link--btn {
  border:                 1.5px solid currentColor;
  border-radius:          2em;
  margin-left:            1em;
  transition:             background 250ms ease-in-out;
  letter-spacing:         1px;
  padding:                0.75em 1.5em;
}

.nav__link--btn:hover {
  background:             var(--text);
  color:                  var(--text-inverse);
  border-color:           var(--text);
  cursor: pointer;
}

.nav__link--btn::after {
  display:                none;
}

.nav__link--btn--highlight {
  background:             tomato;
  border-color:           tomato;
  color:                  #333;
}

.nav__link--btn--highlight:hover {
  background:             var(--text);
  border-color:           var(--text);
}
p.modal_title {
  margin-left:            30px;
}

textarea {
   resize:                none;
}

.container {
  max-width:              960px;
  margin:                 30px auto;
  padding:                20px;
}

.sell_form {
  position:               relative;
  max-width:              400px;
  margin:                 50px auto;
  background: 			  white;
  text-align:             center;
  padding: 				  30px;
  border-radius:          50px;
  box-shadow:             5px 5px 10px 0px rgba(0, 0, 0, 0.12);
}

.avatar-upload {
  position:               relative;
  max-width:              205px;
  margin:                 10px auto;
}
.avatar-upload .avatar-edit {
  position:               absolute;
  right:                  12px;
  z-index:                1;
  top:                    10px;
}
.avatar-upload .avatar-edit input {
  display:                none;
}
.avatar-upload .avatar-edit input + label {
  display:                inline-block;
  width:                  34px;
  height:                 34px;
  margin-bottom:          0;
  border-radius:          100%;
  background:             #FFFFFF;
  border:                 1px solid transparent;
  box-shadow:             5px 5px 10px 0px rgba(0, 0, 0, 0.12);
  cursor:                 pointer;
  font-weight:            normal;
  transition:             all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background:             #f1f1f1;
  border-color:           #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content:                "\f040";
  font-family:            'FontAwesome';
  color:                  #F2B54A;
  position:               absolute;
  top:                    10px;
  left:                   0;
  right:                  0;
  text-align:             center;
  margin:                 auto;
}
.avatar-upload .avatar-preview {
  width:                  192px;
  height:                 192px;
  position:               relative;
  border-radius:          100%;
  border:                 6px solid #F2B54A;
  box-shadow:             10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width:                  100%;
  height:                 100%;
  border-radius:          100%;
  background-size:        cover;
  background-repeat:      no-repeat;
  background-position:    center;
}

.avatar-upload .avatar-preview2 {
  width:                  192px;
  height:                 192px;
  position:               relative;
  border:                 6px solid white;
  box-shadow:             10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview2 > div {
  width:                  100%;
  height:                 100%;
  background-size:        cover;
  background-repeat:      no-repeat;
  background-position:    center;
}

.box::-webkit-input-placeholder {
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
}
.box:-moz-placeholder {
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
}

:-ms-input-placeholder {
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
}

.card:hover {
  transform:              scale(1.05);
  box-shadow:             10px 4px 10px rgba(0, 0, 0, 0.2);
}

.rating { 
  border:                 none;
  float:                  left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin:                 5px;
  font-size:              1.25em;
  font-family:            FontAwesome;
  display:                inline-block;
  content:                "\f005";
}

.rating > .half:before { 
  content:                "\f089";
  position:               absolute;
}

.rating > label { 
  color:                  black; 
  float:                  right; 
}

.checked {
  color:                  white;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: white;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #F2754A;  }

.enter_review{
  height:                 30px;
  width:                  80px;
  margin-left:            60px;
  background:             transparent;
  border:                 1.5px solid white;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
  color:                  white;
  cursor:                 pointer;
  transition:             0.2s;
}

.enter_review:hover{
  background:             #F2754A;
  border:                 1.5px solid #F2754A;
  color:                  black;
}

.enter_sell{
  height:                 40px;
  width:                  150px;
  text-align:             center;
  margin-top:             20px;
  background:             transparent;
  border:                 1.5px solid black;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              30px;
  color:                  black;
  cursor:                 pointer;
  transition:             0.2s;
}

.enter_sell:hover{
  background:             #F2754A;
  border:                 1.5px solid #F2754A;
  color:                  black;
}

.rightbox {
  width:                  100%;
  height:                 100%;
  float:                  left;
  overflow:               scroll;
  padding:                10px;
  outline:                none;
}
.box2 {
  width:                  255px;
  height:                 210px;
  background:             white;
  float:                  left;
  margin-right:           10px;
  margin-bottom:          10px;
  border-radius:          25px;
  padding:                20px;
  word-wrap:              break-word;
}

.box2 img{
  width:                  50px;
  height:                 50px;
  border:                 3px solid #F2B54A;
  border-radius:          50px;
}

.box1 {
  width:                  295px;
  height:                 210px;
  background:             transparent;
  float:                  left;
  margin-right:           10px;
  margin-bottom:          10px;
}

.item_section{
  border:                 1.5px solid white;
  border-radius:          20px;
  padding:                20px;
  margin-right:           25px;
  background-color:       #F2754A;
  box-shadow:             10px 10px white;
}

.title{
	text-shadow:            3px 3px #F2754A;
}

/* width */
::-webkit-scrollbar {
  width:                  10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:             transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:             #F2B54A; 
  border:                 1.5px solid white;
  border-radius:          50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:             white; 
}

::-webkit-scrollbar:vertical {
    display:             none;
}

.review_name{
	margin: 20px;
}

.review_header{
	display: flex;
}

.edit_delete_reply{
	position:fixed;
    bottom:0px;
	width:255px;
	display: flex;
	align-items:           center;
}

.reply{
  height:                 30px;
  width:                  80px;
  background:             transparent;
  border:                 1.5px solid #F2754A;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
  color:                  #F2754A;
  cursor:                 pointer;
  transition:             0.2s;
  margin: 5px;
}

.reply:hover{
  background:             #F2754A;
  border:                 1.5px solid #F2754A;
  color:                  black;
}

.edit{
  height:                 30px;
  width:                  80px;
  background:             transparent;
  border:                 1.5px solid #F2754A;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
  color:                  #F2754A;
  cursor:                 pointer;
  transition:             0.2s;
  margin: 5px;
}

.edit:hover{
  background:             black;
  border:                 1.5px solid white;
  color:                  white;
}

.delete{
  height:                 30px;
  width:                  80px;
  background:             transparent;
  border:                 1.5px solid #F2754A;
  border-radius:          50px;
  font-family:            "Poppins", sans-serif;
  letter-spacing:         2px;
  font-size:              15px;
  color:                  #F2754A;
  cursor:                 pointer;
  transition:             0.2s;
  margin: 5px;
}

.delete:hover{
  background:             red;
  border:                 1.5px solid red;
  color:                  white;
}