* {
  list-style:             none;
  margin:                 0;
  padding:                0;
}

html {
  scroll-behavior:        smooth;
}

body {
  font-family:            "Poppins", sans-serif;
  background-color:       white;
  text-align:             center;
}

/* HEADER */
header {
  --text:                 #f4f4f4;
  --text-inverse:         #333;
  --background:           transparent;
  position:               fixed;
  top:                    0;
  left:                   0;
  right:                  0;
  z-index:                999;
  display:                flex;
  justify-content:        space-between;
  align-items:            center;
  padding:                0.5em 3em;
  transition:             background 250ms ease-in;
  background:             var(--background);
  color:                  var(--text);
}

.nav__list {
  list-style:             none;
  margin:                 0;
  padding:                0;
  display:                flex;
}

.nav__link {
  --spacing:              1em;
  text-decoration:        none;
  color:                  inherit;
  display:                inline-block;
  padding:                calc(var(--spacing) / 2) var(--spacing);
  position:               relative;
  text-transform:         uppercase;
  letter-spacing:         2px;
  font-size:              0.9rem;
}

.nav__link:after {
  content:                "";
  position:               absolute;
  bottom:                 0;
  left:                   var(--spacing);
  right:                  var(--spacing);
  height:                 2px;
  background:             currentColor;
  -webkit-transform:      scaleX(0);
          transform:      scaleX(0);
  transition:             -webkit-transform 150ms ease-in-out;
  transition:             transform 150ms ease-in-out;
  transition:             transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform:      scaleX(1);
          transform:      scaleX(1);
}

.nav__link--btn {
  border:                 1.5px solid currentColor;
  border-radius:          2em;
  margin-left:            1em;
  transition:             background 250ms ease-in-out;
  letter-spacing:         1px;
  padding:                0.75em 1.5em;
}

.nav__link--btn:hover {
  background:             var(--text);
  color:                  var(--text-inverse);
  border-color:           var(--text);
}

.nav__link--btn::after {
  display:                none;
}

.nav__link--btn--highlight {
  background:             tomato;
  border-color:           tomato;
  color:                  #333;
}

.nav__link--btn--highlight:hover {
  background:             var(--text);
  border-color:           var(--text);
}

.nav-scrolled {
  --text:                 #333;
  --text-inverse:         #f4f4f4;
  --background:           #f4f4f4;
  box-shadow:             0 3px 20px rgba(0, 0, 0, 0.2);
}

.col + .col {
  margin-left:            1.5em;
}

/* The Modal (background) */
.modal {
  display:                none; /* Hidden by default */
  position:               fixed; /* Stay in place */
  z-index:                1; /* Sit on top */
  padding-top:            100px; /* Location of the box */
  left:                   0;
  top:                    0;
  width:                  100%; /* Full width */
  height:                 100%; /* Full height */
  overflow:               auto; /* Enable scroll if needed */
  background-color:       rgb(0,0,0); /* Fallback color */
  background-color:       rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius:          50px;
  color:                  black;
  background-color:       #fefefe;
  margin:                 auto;
  top:                    15%;
  padding:                20px;
  border:                 1px solid #888;
  width:                  20%;
  box-shadow:             10px 10px;
}

/* The Close Button */
.close {
  color:                  #aaaaaa;
  float:                  right;
  font-size:              28px;
  font-weight:            bold;
}

.close:hover,
.close:focus {
  color:                  #000;
  text-decoration:        none;
  cursor:                 pointer;
}

section {
  display:                block;
}

/* FIRST PART */
#firstpart_homepage {
  height:                 100vh;
  top:                    0;
}

.bg-1, .bg-2 {
  height:                 100px;
  background-attachment:  fixed;
  background-position:    center;
  background-repeat:      no-repeat;
  background-size:        cover;
}

.bg-1 {
  background-image:       url('catalog.jpg');
}

.bg-2 {
  background-image:       url('market.jpg');
  min-height:             400px;
}

/* SECOND PART */
#secondpart_homepage {
  padding-top:            75px; 
  padding-bottom:         75px;            
  background-color:       #FBB117;
}

.scrolling-wrapper {
  height:                 50%;
  position:               relative;
  display:				        flex;
  overflow-x:             auto;
}

/* THIRD PART */
#thirdpart_homepage {
  background-color:       #f4f4f4;
  padding:                50px;
}

.row {
  display:                flex;
  justify-content:        center;
}

h2.heading {
  font-size:              40px;
  margin-top:             0;
  margin-bottom:          15px;
  text-shadow:            3px 3px black;
}

.member {
  margin-bottom:          50px;
  text-align:             center;
}

.member img {
  width:                  225px;
  height:                 225px;
  border:                 7px solid #FBB117;
  border-radius: 		      225px;
  box-shadow: 			      0px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom:          20px;
}


/*** STYLES ***/
.search {
  display:                inline-block;
  position:               relative;
  height:                 50px;
  width:                  50px;
  box-sizing:             border-box;
  margin:                 0px 8px 7px 0px;
  padding:                7px 9px 0px 9px;
  border:                 3px solid #FFFFFF;
  border-radius:          25px;
  -webkit-transition:     all 200ms ease;
  transition:             all 200ms ease;
  cursor:                 text;
}
.search:after {
  content:                "";
  position:               absolute;
  width:                  3px;
  height:                 20px;
  right:                  -5px;
  top:                    31px;
  background:             #FFFFFF;
  border-radius:          3px;
  -webkit-transform:      rotate(-45deg);
          transform:      rotate(-45deg);
  -webkit-transition:     all 200ms ease;
  transition:             all 200ms ease;
}
.search.active,
.search:hover {
  width:                  500px;
  margin-right:           0px;
}
.search.active:after,
.search:hover:after {
  height:                 0px;
}
.search input {
  width:                  100%;
  border:                 none;
  box-sizing:             border-box;
  font-family:            Helvetica;
  font-size:              25px;
  color:                  white;
  background:             transparent;
  outline-width:          0px;
}